.mywork-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work {
  h1 {
    font-weight: 500;
  }
}

.mywork-illustration {
  width: 100px;
  margin-top: 2em;
}

.tema-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  color: var(--color-text-primary);
}

.tema-cards img {
  transition: 0.5s;
}

.tema-cards img:hover {
  transform: scale(0.97);
}

.portfolio-cards {
  padding: 1em 2em 2em 2em;
}

.overskrift-p {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5em;
}

.flex-text-cta3 {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 0;
}

.section-nysgerrig {
  padding: 2em;
}

.nysgerrig {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.nobutton {
  appearance: none;
  border: none;
  cursor: pointer;
}

.beskrivelse {
  display: flex;
  flex-direction: column;
  gap: 0.6em;

  p {
    font-size: 1em;
    margin-top: 1em;
  }

  h2 {
    margin-top: 0.6em;
  }
}

.udfordringer {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding: 2em 0 2em 0;
  & p {
    font-size: 1em;
  }
}

.mobile-cta {
  display: flex;
  flex-direction: row;
  align-self: left;
  border: 1.5px solid black;
  max-width: 10em;
  padding: 1em 2em 1em 2.7em;
  margin: 0.7em 0;
}

.flex-h2-pop {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
